body {
  margin: 0;
  padding: 0;
  min-width: 1240px;
  background: #ededed;
}
body .header {
  width: 100%;
  height: 45px;
  background: linear-gradient(90deg, #222325, #3b3c3f, #222325);
  z-index: 30;
}
body .header .header_one {
  width: 10%;
  height: 100%;
  float: left;
}
body .header .header_one .header_one_imgbox {
  width: 20px;
  height: 20px;
  margin-left: 21px;
  padding-top: 12.5px;
}
body .header .header_one .header_one_imgbox .header_one_img {
  width: 100%;
  height: 20px;
  background-image: url("../image/index/o_1.png");
  background-size: 100% 100%;
}
body .header .header_two {
  width: 80%;
  height: 100%;
  float: left;
}
body .header .header_two .header_two_nav {
  display: table;
  margin: 0 auto;
}
body .header .header_two .header_two_nav .navul {
  margin: 0;
  padding: 0;
  list-style: none;
}
body .header .header_two .header_two_nav .navul .navli {
  height: 100%;
  line-height: 45px;
  color: #c4c4c4;
  float: left;
  font-size: 12px;
  margin-right: 40px;
  font-weight: 800;
}
body .header .header_two .header_two_nav .navul .navselcet {
  color: #ffffff;
}
body .header .header_three {
  width: 10%;
  height: 100%;
  float: left;
}
body .header .header_three .header_three_imgbox {
  padding-top: 12.5px;
}
body .header .header_three .header_three_imgbox .header_three_imgone {
  width: 20px;
  height: 20px;
  background-image: url("../image/index/shop.png");
  background-size: 100% 100%;
  margin-right: 40px;
  float: right;
}
body .header .header_three .header_three_imgbox .header_three_imgtwo {
  width: 20px;
  height: 20px;
  background-image: url("../image/index/o_2.png");
  background-size: 100% 100%;
  margin-right: 20px;
  float: right;
}
body .content {
  width: 100%;
  height: auto;
}
body .content .cnav {
  width: 100%;
  height: 75px;
  background: #ffffff;
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.05);
}
body .content .cnav .cnav_box {
  display: table;
  margin: 0 auto;
}
body .content .cnav .cnav_box .c_navul {
  margin: 0;
  padding: 0;
  list-style: none;
  width: auto;
  height: 100%;
  float: left;
}
body .content .cnav .cnav_box .c_navul .c_navli {
  height: 100%;
  line-height: 75px;
  color: #646464;
  float: left;
  font-size: 14px;
  padding-right: 40px;
  font-weight: 400;
  cursor: pointer;
}
body .content .cnav .cnav_box .c_navul .c_navli:hover {
  color: dodgerblue;
}
body .content .cnav .cnav_box .cnav_select {
  width: 300px;
  height: 35px;
  float: left;
  margin-left: 400px;
  border: 1px solid #e6e6e6;
  border-radius: 30px ;
  margin-top: 20px;
  position: relative;
}
body .content .cnav .cnav_box .cnav_select .cnav_select_img {
  width: 20px;
  height: 20px;
  background-image: url("../image/index/o_3.png");
  background-size: 100% 100%;
  margin-top: 7.5px;
  margin-left: 10px;
  float: left;
}
body .content .cnav .cnav_box .cnav_select .cnav_select_input {
  width: 200px;
  height: 25px;
  float: left;
  border: 0;
  padding: 0;
  margin: 0;
  margin-top: 5px;
  outline: none;
  margin-left: 10px;
  font-size: 16px;
}
body .content .cnav .cnav_box .cnav_select .cnav_select_label {
  width: 40px;
  height: 18px;
  border-radius: 10px;
  margin-top: 8px;
  font-size: 12px;
  font-weight: 600;
  text-align: center;
  float: left;
  border: 1px solid deepskyblue;
  background: rgba(0, 80, 255, 0.1);
  color: blue;
}
body .content .cnav .cnav_box .cnav_select .sel_box {
  width: 100%;
  position: absolute;
  top: 56px;
  left: 0;
  z-index: 5;
  border: 1px solid #cfcfcf;
  background: #ffffff;
  box-shadow: 0 30px 75px 0 rgba(0, 0, 0, 0.3);
  border-radius: 8px;
}
body .content .cnav .cnav_box .cnav_select .sel_box .sel_ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
body .content .cnav .cnav_box .cnav_select .sel_box .sel_ul .sel_li {
  padding: 10px 0 10px 15px;
  font-size: 14px;
  color: #999;
  font-weight: 400;
  cursor: pointer;
}
body .content .cnav .cnav_box .cnav_select .sel_box .sel_ul .selliac {
  color: deepskyblue;
}
body .content .cnav .cnav_box .cnav_select .sel_box:before {
  content: '';
  width: 0;
  height: 0;
  top: -10px;
  left: 40px;
  border-right: 10px solid transparent;
  border-left: 10px solid transparent;
  border-bottom: 10px solid #ffffff;
  position: absolute;
}
body .content .cnav .nav_content {
  width: 100%;
  height: 266px;
  background: #ffffff;
  margin-top: 1px;
  overflow: hidden;
  position: relative;
  z-index: 10;
}
body .content .cnav .nav_content .nav_cone {
  display: table;
  margin: 0 auto;
}
body .content .cnav .nav_content .nav_cone .cone_o .cone_ul {
  margin: 0;
  padding: 0;
  min-width: 150px;
  height: 100%;
  padding-top: 30px;
  font-size: 12px;
  color: #c4c4c4;
  float: left;
  list-style: none;
}
body .content .cnav .nav_content .nav_cone .cone_o .cone_ul .cone_li {
  width: 140px;
  height: 40px;
  margin-top: 13px;
}
body .content .cnav .nav_content .nav_cone .cone_o .cone_ul .cone_li .cone_li_img {
  width: 20px;
  height: 20px;
  background: red;
  float: left;
  margin-right: 10px;
  background-size: 100% 100%;
}
body .content .cnav .nav_content .nav_cone .cone_o .cone_ul .cone_li .cone_li_name {
  font-size: 14px;
  color: #000;
  font-weight: 600;
  float: left;
}
body .content .cnav .nav_content .nav_ctwo {
  display: table;
  margin: 0 auto;
}
body .content .cnav .nav_content .nav_ctwo .ctwo_o {
  width: 126px;
  height: 100%;
  padding-top: 37px;
  float: left;
  margin-right: 40px;
}
body .content .cnav .nav_content .nav_ctwo .ctwo_o .ctwo_img {
  width: 125px;
  height: 125px;
  background: cyan;
}
body .content .cnav .nav_content .nav_ctwo .ctwo_o .ctwo_name {
  font-size: 15px;
  font-weight: 600;
  text-align: center;
  margin: 16px auto 8px;
}
body .content .cnav .nav_content .nav_ctwo .ctwo_o .ctwo_amout {
  font-weight: 600;
  font-size: 12px;
  text-align: center;
  color: red;
}
body .content .cnav .nav_content .nav_cthree {
  display: table;
  margin: 0 auto;
}
body .content .cnav .nav_content .nav_cthree .cthree_o {
  font-size: 14px;
  font-weight: 800;
  text-align: center;
  padding-top: 20px;
}
body .content .cnav .navcc {
  animation: cc 0.2s forwards;
}
body .content .cnav_po {
  animation: lld 0.3s forwards;
}
body .content .cnav_po .cnav_box {
  float: left;
  margin-left: 80px;
}
body .content .cnav_po .cnav_box .c_navul .c_navli {
  line-height: 60px;
  color: #aaa;
}
body .content .cnav_po .cnav_select {
  display: none;
}
body .content .main {
  width: 100%;
  height: auto;
}
body .content .main .main_one {
  width: 1218px;
  height: 500px;
  margin: 20px auto;
  position: relative;
  z-index: 1;
  border-radius: 10px;
  border: 1px solid #c4c4c4;
}
body .content .main .main_one .main_one_img {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 10;
  overflow: hidden;
}
body .content .main .main_one .main_one_img .main_one_url {
  width: 100%;
  height: 100%;
  display: block;
  border-radius: 10px;
  position: absolute;
  top: 0;
  left: 0;
}
body .content .main .main_one .main_one_point {
  display: table;
  margin: 0 auto;
  z-index: 12;
  position: relative;
  margin-top: -20px;
}
body .content .main .main_one .main_one_point .main_one_p {
  width: 9px;
  height: 9px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  background: #cacaca;
  border-radius: 50%;
  margin-right: 10px;
  float: left;
}
body .content .main .main_one .main_one_point .main_one_pp {
  background: #ffffff;
}
body .content .main .main_two {
  width: 1218px;
  height: 500px;
  margin: 0 auto 20px;
  position: relative;
  overflow: hidden;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 10px;
  border: 1px solid #c4c4c4;
  box-shadow: 0 3px 8px -6px rgba(0, 0, 0, 0.1);
}
body .content .main .main_two .main_two_title {
  width: 100%;
  height: 60px;
  background: #fafafa;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  position: relative;
}
body .content .main .main_two .main_two_title > span {
  margin-left: 25px;
  font-weight: 700;
  font-size: 18px;
  color: #666;
  line-height: 60px;
}
body .content .main .main_two .main_two_title .main_two_fx {
  position: absolute;
  right: 10px;
  top: 20px;
}
body .content .main .main_two .main_two_title .main_two_fx .left {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  margin-right: 20px;
  float: left;
  border: 1px solid #c8c8c8;
  cursor: pointer;
}
body .content .main .main_two .main_two_title .main_two_fx .left > img {
  width: 10px;
  height: 10px;
  display: block;
  margin-left: 4px;
  margin-top: 4px;
}
body .content .main .main_two .main_two_title .main_two_fx .right {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  margin-right: 20px;
  float: left;
  border: 1px solid #c8c8c8;
  cursor: pointer;
}
body .content .main .main_two .main_two_title .main_two_fx .right > img {
  width: 10px;
  height: 10px;
  display: block;
  margin-left: 4px;
  margin-top: 4px;
}
body .content .main .main_two .main_two_content {
  position: relative;
  min-width: 100%;
  height: 440px;
  background: #ffffff;
  max-height: 440px;
}
body .content .main .main_two .main_two_content .two_item {
  width: 303.5px;
  height: 100%;
  float: left;
  border-right: 1px solid #efefef;
  border-bottom: 1px solid #efefef;
  border-radius: initial;
}
body .content .main .main_two .main_two_content .two_item .two_item_img {
  width: 216px;
  height: 216px;
  margin: 0 auto;
  padding: 45px 0 20px;
}
body .content .main .main_two .main_two_content .two_item .two_item_title {
  font-size: 14px;
  font-weight: 800;
  text-align: center;
  line-height: 1.2;
  color: #333;
}
body .content .main .main_two .main_two_content .two_item .two_item_intro {
  font-size: 12px;
  font-weight: 400;
  text-align: center;
  overflow: hidden;
  padding-top: 26px;
  line-height: 1.2;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: #999;
}
body .content .main .main_two .main_two_content .two_item .two_item_colorbox {
  margin: 15px auto;
  text-align: center;
  height: 14px;
}
body .content .main .main_two .main_two_content .two_item .two_item_colorbox .color_ul {
  display: inline-block;
  overflow: hidden;
  list-style: none;
  margin: 0;
  padding: 0;
}
body .content .main .main_two .main_two_content .two_item .two_item_colorbox .color_ul .color_li {
  float: left;
  cursor: pointer;
  margin: 0 5px;
  background: #ffffff;
  padding: 2px;
  border-radius: 50%;
  border: 1px solid #e5e5e5;
}
body .content .main .main_two .main_two_content .two_item .two_item_colorbox .color_ul .color_li .color_li_div {
  width: 8px;
  height: 8px;
  border-radius: 50%;
}
body .content .main .main_two .main_two_content .two_item .two_item_colorbox .color_ul .color_li_active {
  border: 1px solid #999;
}
body .content .main .main_two .main_two_content .two_item .two_item_amout {
  margin-top: 20px;
}
body .content .main .main_two .main_two_content .two_item .two_item_amout .two_item_span {
  font-size: 14px;
  color: red;
  text-align: center;
  font-weight: 800;
  margin: 0 auto;
  display: block;
}
body .content .main .main_two .main_two_content .two_item .two_item_amout .two_item_cc {
  width: 100px;
  height: 30px;
  font-size: 14px;
  text-align: center;
  line-height: 30px;
  color: #333;
  border: 1px solid #c4c4c4;
  border-radius: 5px;
  margin: 0 auto;
}
body .content .main .main_two .main_two_content .two_item_anima {
  animation: ll 0.2s forwards;
}
body .content .main .main_two .main_two_content .two_item_animaal {
  animation: ll 0.2s forwards alternate;
}
body .content .main .main_three {
  width: 1218px;
  height: auto;
  margin: 0 auto 20px;
  position: relative;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 10px;
  border: 1px solid #c4c4c4;
  box-shadow: 0 3px 8px -6px rgba(0, 0, 0, 0.1);
}
body .content .main .main_three .main_three_title {
  width: 100%;
  height: 60px;
  background: #fafafa;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  position: relative;
  border-radius: 10px 10px 0 0 ;
}
body .content .main .main_three .main_three_title > span {
  margin-left: 25px;
  font-weight: 700;
  font-size: 18px;
  color: #666;
  line-height: 60px;
}
body .content .main .main_three .main_three_content {
  width: 100%;
  height: auto;
  position: relative;
  background: #ffffff;
  overflow: hidden;
  border-radius: 0 0 10px 10px;
}
body .content .main .main_three .main_three_content .three_img {
  width: 50%;
  height: 430px;
  float: left;
  box-sizing: border-box;
  border-radius: initial;
}
body .content .main .main_three .main_three_content .three_img > img {
  width: 100%;
  height: 100%;
  display: block;
}
body .content .main .main_three .main_three_content .three_item {
  width: 24.918%;
  height: 429px;
  float: left;
  position: relative;
  background: #ffffff;
  border-right: 1px solid #efefef;
  border-bottom: 1px solid #efefef;
  border-radius: initial;
}
body .content .main .main_three .main_three_content .three_item .two_item_img {
  width: 216px;
  height: 216px;
  margin: 0 auto;
  padding: 45px 0 20px;
}
body .content .main .main_three .main_three_content .three_item .two_item_title {
  font-size: 14px;
  font-weight: 800;
  text-align: center;
  line-height: 1.2;
  color: #333;
}
body .content .main .main_three .main_three_content .three_item .two_item_intro {
  font-size: 12px;
  font-weight: 400;
  text-align: center;
  overflow: hidden;
  padding-top: 26px;
  line-height: 1.2;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: #999;
}
body .content .main .main_three .main_three_content .three_item .two_item_colorbox {
  margin: 15px auto;
  text-align: center;
  height: 14px;
}
body .content .main .main_three .main_three_content .three_item .two_item_colorbox .color_ul {
  display: inline-block;
  overflow: hidden;
  list-style: none;
  margin: 0;
  padding: 0;
}
body .content .main .main_three .main_three_content .three_item .two_item_colorbox .color_ul .color_li {
  float: left;
  cursor: pointer;
  margin: 0 5px;
  background: #ffffff;
  padding: 2px;
  border-radius: 50%;
  border: 1px solid #e5e5e5;
}
body .content .main .main_three .main_three_content .three_item .two_item_colorbox .color_ul .color_li .color_li_div {
  width: 8px;
  height: 8px;
  border-radius: 50%;
}
body .content .main .main_three .main_three_content .three_item .two_item_colorbox .color_ul .color_li_active {
  border: 1px solid #999;
}
body .content .main .main_three .main_three_content .three_item .two_item_amout {
  margin-top: 20px;
}
body .content .main .main_three .main_three_content .three_item .two_item_amout .two_item_span {
  font-size: 14px;
  color: red;
  text-align: center;
  font-weight: 800;
  margin: 0 auto;
  display: block;
}
body .content .main .main_three .main_three_content .three_item .two_item_amout .two_item_cc {
  width: 100px;
  height: 30px;
  font-size: 14px;
  text-align: center;
  line-height: 30px;
  color: #333;
  border: 1px solid #c4c4c4;
  border-radius: 5px;
  margin: 0 auto;
}
body .content .main .main_three .main_three_content .two_item_anima {
  animation: ll 0.2s forwards;
}
body .content .main .main_four {
  width: 1218px;
  height: auto;
  margin: 0 auto 20px;
  position: relative;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 10px;
  border: 1px solid #c4c4c4;
  box-shadow: 0 3px 8px -6px rgba(0, 0, 0, 0.1);
}
body .content .main .main_four .main_four_title {
  width: 100%;
  height: 60px;
  background: #fafafa;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  position: relative;
  border-radius: 10px 10px 0 0 ;
}
body .content .main .main_four .main_four_title > span {
  margin-left: 25px;
  font-weight: 700;
  font-size: 18px;
  color: #666;
  line-height: 60px;
}
body .content .main .main_four .main_four_title .main_four_a {
  position: absolute;
  right: 14px;
  top: 12px;
}
body .content .main .main_four .main_four_title .main_four_a > a {
  margin-right: 0;
  font-weight: 700;
  padding: 0 15px;
  line-height: 34px;
  background: #fafafa;
  border: 1px solid #e1e1e1;
  border-radius: 4px;
  background-image: linear-gradient(180deg, #fff, #fafafa);
  display: inline-block;
  font-size: 14px;
  color: #666;
  cursor: pointer;
}
body .content .main .main_four .main_four_content {
  width: 100%;
  height: auto;
  position: relative;
  background: #ffffff;
  overflow: hidden;
  border-radius: 0 0 10px 10px;
}
body .content .main .main_four .main_four_content .four_item {
  width: 24.918%;
  height: 306px;
  float: left;
  border-right: 1px solid rgba(0, 0, 0, 0.1);
}
body .content .main .main_four .main_four_content .four_item .four_item_img {
  width: 246px;
  height: 138px;
  border-radius: 4px;
  margin: 30px auto;
  background: #000000;
}
body .content .main .main_four .main_four_content .four_item .four_item_img > img {
  width: 100%;
  height: 100%;
  display: block;
  border-radius: 4px;
}
body .content .main .main_four .main_four_content .four_item .four_item_title {
  display: -webkit-box;
  margin: 30px 0 12px 28px;
  color: #333;
  overflow: hidden;
  width: 246px;
  font-size: 15px;
  line-height: 1;
  font-weight: 700;
  text-align: center;
}
body .content .main .main_four .main_four_content .four_item .four_item_intro {
  display: -webkit-box;
  overflow: hidden;
  font-size: 12px;
  color: #999;
  font-weight: 400;
  line-height: 18px;
  margin: 0 auto;
  margin-left: 28px;
}
body .content .main .main_four .main_four_content .four_item .four_item_a {
  display: inline-block;
  font-size: 12px;
  margin-top: 12px;
  font-weight: 500;
  color: #5079d9;
  margin-left: 28px;
  text-decoration: none;
}
body .content .main .main_four .main_four_content .two_item_anima {
  animation: ll 0.2s forwards;
}
body .content .commodity {
  width: 1220px;
  height: auto;
  min-height: 500px;
  margin: 0 auto;
}
body .content .commodity .commodity_sort {
  height: 60px;
  line-height: 60px;
}
body .content .commodity .commodity_sort .sortul {
  list-style: none;
  margin: 0;
  padding: 0;
}
body .content .commodity .commodity_sort .sortul .sortli {
  padding-left: 42px;
  font-size: 12px;
  font-weight: 400;
  color: #999;
  float: left;
  position: relative;
}
body .content .commodity .commodity_sort .sortul .sortli:first-child {
  padding-left: 9px;
}
body .content .commodity .commodity_sort .sortul .sortli:hover {
  color: dodgerblue;
}
body .content .commodity .commodity_sort .sortul .sortactive {
  color: dodgerblue;
}
body .content .commodity .commodity_sort .sortul .sortli:before {
  content: '';
  display: block;
  position: absolute;
  left: 20px;
  top: 50%;
  width: 2px;
  height: 2px;
  margin-top: -1px;
  background: #c7c7c7;
}
body .content .commodity .commodity_content {
  width: 100%;
  height: auto;
  background: #ffffff;
  border-radius: 8px;
  box-shadow: 0 3px 8px -6px rgba(0, 0, 0, 0.1);
  border: 1px solid #dcdcdc;
  position: relative;
  overflow: hidden;
  border-color: rgba(0, 0, 0, 0.14);
}
body .content .commodity .commodity_content .comul {
  list-style: none;
  margin: 0;
  padding: 0;
}
body .content .commodity .commodity_content .comul .comli {
  width: 20%;
  height: auto;
  float: left;
}
body .content .commodity .commodity_content .comul .comli .comli_item {
  position: relative;
  overflow: hidden;
  padding: 20px;
  text-align: center;
  border: 1px solid #efefef;
  border-width: 0 1px 1px 0;
}
body .content .commodity .commodity_content .comul .comli .comli_item .comli_img {
  width: 204px;
  height: 204px;
}
body .content .commodity .commodity_content .comul .comli .comli_item .comli_info .comli_p {
  margin: 10px auto ;
}
body .content .commodity .commodity_content .comul .comli .comli_item .comli_info .comli_p .comli_sp {
  width: 9px;
  height: 9px;
  border: 1px solid #b2b2b2;
  border-radius: 50%;
  padding: 2px;
  margin-right: 10px;
  display: inline-block;
}
body .content .commodity .commodity_content .comul .comli .comli_item .comli_info .comli_p .comli_sp .comli_s {
  width: 7px;
  height: 7px;
  border-radius: 50%;
  display: block;
  margin: 1px auto;
}
body .content .commodity .commodity_content .comul .comli .comli_item .comli_info .comli_p .spac {
  box-shadow: inset 0 0 0 1px #b2b2b2;
}
body .content .commodity .commodity_content .comul .comli .comli_item .comli_info .comli_name {
  font-size: 12px;
  font-weight: 700;
  color: rgba(0, 0, 0, 0.8);
  text-align: center;
  line-height: 1;
  display: block;
}
body .content .commodity .commodity_content .comul .comli .comli_item .comli_info .comli_intro {
  font-size: 12px;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.5);
  text-align: center;
  line-height: 1;
  display: block;
  margin: 10px 0;
}
body .content .commodity .commodity_content .comul .comli .comli_item .comli_info .comli_amout {
  font-size: 15px;
  font-weight: 800;
  color: red;
  text-align: center;
  line-height: 1;
  display: block;
}
body .content .commodity .commodity_content .comul .two_item_anima {
  animation: ll 0.2s forwards;
}
body .content .detail {
  width: 100%;
  height: auto;
  overflow: hidden;
  margin: 0 auto;
}
body .content .detail .detail_one {
  width: 1100px;
  height: 500px;
  padding: 60px;
  margin: 15px auto 20px;
  border-radius: 8px;
  background: #ffffff;
  border: 1px solid #dcdcdc;
  overflow: hidden;
}
body .content .detail .detail_one .detail_one_one {
  width: 8%;
  height: 100%;
  float: left;
  overflow: hidden;
}
body .content .detail .detail_one .detail_one_one .detail_onebox {
  width: 100%;
  height: 500px;
  display: table-cell;
  vertical-align: middle;
}
body .content .detail .detail_one .detail_one_one .detail_onebox .detail_one_oneul {
  width: 100%;
  height: auto;
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}
body .content .detail .detail_one .detail_one_one .detail_onebox .detail_one_oneul .detail_one_oneli {
  width: 54px;
  height: 54px;
  border-radius: 5px;
  border: 3px solid rgba(0, 0, 0, 0.2);
  padding: 10px;
  cursor: pointer;
  margin: 0 auto;
  margin-bottom: 10px;
}
body .content .detail .detail_one .detail_one_one .detail_onebox .detail_one_oneul .detail_one_oneli > img {
  display: block;
  width: 100%;
  height: 100%;
  background: red;
}
body .content .detail .detail_one .detail_one_two {
  width: 40%;
  height: 100%;
  float: left;
}
body .content .detail .detail_one .detail_one_two .detail_one_twoimg {
  width: 100%;
  height: 500px;
  display: table-cell;
  vertical-align: middle;
}
body .content .detail .detail_one .detail_one_two .detail_one_twoimg .detail_one_twoul {
  width: 400px;
  height: 400px;
  margin: 0;
  padding: 0;
  list-style: none;
}
body .content .detail .detail_one .detail_one_two .detail_one_twoimg .detail_one_twoul .detail_one_twoli {
  width: 100%;
  height: 100%;
}
body .content .detail .detail_one .detail_one_two .detail_one_twoimg .detail_one_twoul .detail_one_twoli > img {
  width: 100%;
  height: 100%;
  display: block;
  background: red;
}
body .content .detail .detail_one .detail_one_three {
  width: 50%;
  height: 100%;
  float: left;
  background: skyblue;
}
body .footer {
  background: #fafafa;
  border-top: 1px solid #e6e6e6;
}
body .footer .footer_content {
  width: 1220px;
  margin: 0 auto;
}
body .footer .footer_content .footer_one {
  height: 108px;
  padding: 60px 0 55px;
  border-bottom: 1px solid #e6e6e6;
  position: relative;
}
body .footer .footer_content .footer_one .footer_one_one {
  list-style: none;
  padding: 0;
  margin: 0;
}
body .footer .footer_content .footer_one .footer_one_one .footer_one_li {
  margin-right: 90px;
  float: left;
  line-height: 1;
}
body .footer .footer_content .footer_one .footer_one_one .footer_one_li .footer_one_lititle {
  font-size: 12px;
  font-weight: 700;
  padding-bottom: 20px;
  color: #646464;
}
body .footer .footer_content .footer_one .footer_one_one .footer_one_li .footer_one_li_ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
body .footer .footer_content .footer_one .footer_one_one .footer_one_li .footer_one_li_ul .footer_one_li_ul_li {
  font-size: 12px;
  font-weight: 400;
  padding: 7px 0;
  color: #a49f9f;
  cursor: pointer;
}
body .footer .footer_content .footer_one .footer_one_one .footer_one_li .footer_one_li_ul .four_add {
  color: #5079d9;
}
body .footer .footer_content .footer_one .footer_one_two {
  list-style: none;
  padding: 0;
  margin: 0;
}
body .footer .footer_content .footer_one .footer_one_two .footer_tel {
  font-size: 18px;
  font-weight: 900;
  line-height: 1;
  cursor: default;
  color: #5079d9;
  position: relative;
  text-align: right;
}
body .footer .footer_content .footer_one .footer_one_two .footer_time {
  font-size: 12px;
  line-height: 1;
  color: #999;
  text-align: right;
  margin-top: 15px;
}
body .footer .footer_content .footer_one .footer_one_two .footer_telintro {
  font-size: 12px;
  line-height: 1;
  color: #999;
  text-align: right;
  margin-top: 5px;
}
body .footer .footer_content .footer_one .footer_one_two .footer_help {
  float: right;
  width: 132px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  font-size: 12px;
  font-weight: 700;
  margin-top: 15px;
  border: 1px solid #d0d0d0;
  border-radius: 4px;
  color: #5079d9;
}
body .footer .footer_content .footer_two {
  border-top: 1px solid #e6e6e6;
  padding: 30px 0 60px;
}
body .footer .footer_content .footer_two .footer_statement {
  font-size: 12px;
  line-height: 15px;
  color: #bdbdbd;
  font-weight: 400;
}
body .footer .footer_content .footer_two .footer_approval {
  font-size: 12px;
  line-height: 15px;
  color: #bdbdbd;
  font-weight: 400;
  padding-top: 10px;
}
@keyframes cc {
  0% {
    height: 266px;
  }
  0% .nav_cone {
    display: none;
  }
  100% {
    height: 0;
    display: none;
  }
}
@keyframes ll {
  0% {
    box-shadow: none;
  }
  100% {
    box-shadow: inset 0 0 38px rgba(0, 0, 0, 0.08);
  }
}
@keyframes lld {
  0% {
    height: 0;
    position: relative;
  }
  100% {
    height: 60px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
  }
}
