<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>锤子商城</title>
    <script src="js/vue.js"></script>
    <link rel="stylesheet" href="css/index.css">
    <!--<script src="js/jquery.js"></script>-->
    <script src="js/index.js"></script>
</head>
<body>
<!--头部导航栏-->
    <header class="header">
        <div class="header_one">
            <div class="header_one_imgbox">
                <div class="header_one_img"></div>
            </div>
        </div>
        <div class="header_two">
            <div class="header_two_nav">
                <ul id="nav" class="navul">
                    <li v-for="nav in nav" class="navli" v-bind:class="{navselcet:nav.select}" @click="navli(nav.id)">{{nav.name}}</li>
                </ul>
            </div>
        </div>
        <div class="header_three">
            <div class="header_three_imgbox">
                <div class="header_three_imgone"></div>
                <div class="header_three_imgtwo"></div>
            </div>
        </div>
    </header>
<!--主体-->
    <section class="content">
        <div class="cnav" id="c_nav" :class="{cnav_po:cnavp}">
            <!--导航栏-->
            <div class="cnav_box">
                <ul  class="c_navul">
                    <li class="c_navli" v-for="nav in nav" @mouseover="over(nav.id)">{{nav.name}}</li>
                </ul>
                <div class="cnav_select">
                    <div class="cnav_select_img"></div>
                    <input type="text" class="cnav_select_input" placeholder="请输入搜索的商品" @focus="foc" @blur="bl">
                    <div class="cnav_select_label" >T恤</div>
                    <div class="sel_box" v-show="sel">
                        <ul class="sel_ul">
                            <li class="sel_li" v-for="sa in abc" :class="{selliac:sa.show}"
                                @mouseover="selover(sa.id)" @mouseout="selout(sa.id)">{{sa.name}}</li>
                        </ul>
                    </div>
                </div>
            </div>
            <!--导航栏分类弹出框-->
            <div class="nav_content"  v-show="navc" @mouseout="out(nav.id)" v-bind:class="{navcc:navcc}">
                <!--手机-->
                <div class="nav_ctwo" v-if="type === 1">
                    <div class="ctwo_o" v-for="phone in phone">
                        <div class="ctwo_img"></div>
                        <div class="ctwo_name">{{phone.name}}</div>
                        <div class="ctwo_amout">{{phone.amout}}</div>
                    </div>
                </div>
                <!--服务-->
                <div class="nav_cthree" v-else-if="type === 5">
                    <div class="cthree_o" v-for="ser in service">{{ser.name}}</div>
                </div>
                <!--首页、官方配件、服饰箱包、畅呼吸-->
                <div class="nav_cone" v-else>
                    <!--首页子集-->
                    <div class="cone_o" v-if="type === 0">
                        <ul class="cone_ul" v-for="cate in category[type].first">{{cate.f_name}}
                            <li class="cone_li" v-for="one in cate.secend">
                                <img class="cone_li_img" v-bind:src="one.img">
                                <div class="cone_li_name">{{one.s_name}}</div>
                            </li>
                        </ul>
                    </div>
                    <!--非首页子集-->
                    <div class="cone_o" v-else>
                        <ul class="cone_ul" v-for="cate in category[type-1].first">{{cate.f_name}}
                            <li class="cone_li" v-for="one in cate.secend">
                                <img class="cone_li_img" v-bind:src="one.img">
                                <div class="cone_li_name">{{one.s_name}}</div>
                            </li></ul>
                    </div>
                </div>
            </div>
        </div>
        <!--主体内容部分-->
        <div class="main" id="main">
            <!--主体内容首页轮播图-->
            <div class="main_one">
                <!--加载轮播图-->
                <div class="main_one_img">
                    <img class="main_one_url" v-bind:src="img.url" v-for="img in img" v-show="img.show">
                </div>
                <!--加载轮播图选择圆圈-->
                <div class="main_one_point">
                    <span class="main_one_p" v-for="img in img" v-bind:class="{main_one_pp:img.show}"></span>
                </div>
            </div>
            <!--主体内容首页热门商品-->
            <div class="main_two">
                <div class="main_two_title">
                    <span>热门商品</span>
                    <div class="main_two_fx">
                        <div class="left" @click="left()">
                            <img src="image/index/left.png">
                        </div>
                        <div class="right" @click="right()">
                            <img src="image/index/right.png">
                        </div>
                    </div>
                </div>
                <div class="main_two_content" v-bind:style="{width:wid,left:lf}">
                    <div class="two_item" v-for="hot in hot" @mouseover='enter(hot.id)' @mouseout="out(hot.id)"
                         v-bind:class="{two_item_anima:hot.show}">
                        <div class="two_item_img" v-bind:style="{background:hot.s_co}"></div>
                        <div class="two_item_title">{{hot.name}}</div>
                        <div class="two_item_intro">{{hot.intro}}</div>
                        <div class="two_item_colorbox">
                            <ul class="color_ul">
                                <li class="color_li" v-for="color in hot.color"
                                    @mouseover="liover(hot.id,color.id)" v-bind:class="{color_li_active:color.show}">
                                    <div class="color_li_div" v-bind:style="{background:color.co}"></div>
                                </li>
                            </ul>
                        </div>
                        <div class="two_item_amout">
                            <span class="two_item_span" v-show="!hot.show">{{hot.amout}}</span>
                            <div class="two_item_cc" v-show="hot.show">查看详情</div>
                        </div>
                    </div>
                </div>
            </div>
            <!--商品展示-->
            <div class="main_three" v-for="m in commodity">
                <div class="main_three_title">
                    <span>{{m.name}}</span>
                </div>
                <div class="main_three_content">
                    <div class="three_img">
                        <img :src="m.titleimg">
                    </div>
                    <div class="three_item" v-for="com in m.commod" @mouseover='comenter(m.id,com.id)' @mouseout="comout(m.id,com.id)"
                         v-bind:class="{two_item_anima:com.show}">

                        <div class="two_item_img" v-bind:style="{background:com.s_co}"></div>
                        <div class="two_item_title">{{com.name}}</div>
                        <div class="two_item_intro">{{com.intro}}</div>
                        <div class="two_item_colorbox">
                            <ul class="color_ul">
                                <li class="color_li" v-for="color in com.color"
                                    @mouseover="comover(m.id,com.id,color.id)" v-bind:class="{color_li_active:color.show}">
                                    <div class="color_li_div" v-bind:style="{background:color.co}"></div>
                                </li>
                            </ul>
                        </div>
                        <div class="two_item_amout">
                            <span class="two_item_span" v-show="!com.show">{{com.amout}}</span>
                            <div class="two_item_cc" v-show="com.show">查看详情</div>
                        </div>

                    </div>
                </div>
            </div>
            <!--谈论精选-->
            <div class="main_four">
                <div class="main_four_title">
                    <span>论坛精选</span>
                    <div class="main_four_a">
                        <a>前往论坛></a>
                    </div>
                </div>
                <div class="main_four_content">
                    <div class="four_item" v-for="f in forum" @mouseover='fourenter(f.id)' @mouseout="fourout(f.id)"
                         v-bind:class="{two_item_anima:f.show}">
                        <div class="four_item_img">
                            <img v-bind:src="f.img">
                        </div>
                        <div class="four_item_title">{{f.name}}</div>
                        <div class="four_item_intro">{{f.intro}}</div>
                        <a class="four_item_a" :href="f.hrf">阅读全文></a>
                    </div>
                </div>
            </div>
        </div>
    </section>
<!--底部-->
    <footer class="footer" id="footer">
        <div class="footer_content">
            <div class="footer_one">
                <ul class="footer_one_one">
                    <li class="footer_one_li" v-for="f in foot">
                        <div class="footer_one_lititle">{{f.name}}</div>
                        <ul class="footer_one_li_ul">
                            <li class="footer_one_li_ul_li" v-for="d in f.detail" @mouseover="fenter(f.id,d.id)"
                                @mouseout="fout(f.id,d.id)" v-bind:class="{four_add:d.show}">{{d.name}}</li>
                        </ul>
                    </li>
                </ul>
                <ul class="footer_one_two">
                    <li class="footer_tel">{{tel}}</li>
                    <li class="footer_time">{{time}}</li>
                    <li class="footer_telintro">{{telintro}}</li>
                    <li class="footer_help">{{help}}</li>
                </ul>
            </div>
            <div class="footer_two">
                <div class="footer_statement">{{statement}}</div>
                <div class="footer_statement">{{approval}}</div>
            </div>
        </div>
    </footer>
</body>
</html>